<section class="flex w-full flex-col">
  <h1>Assignee Details</h1>
  <div class="outline outline-1 bg-zinc-50 p-3">
    <p>
      <strong>Name:</strong>
      <%= @assignee.name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @assignee.email %>
    </p>
  </div>
  <div>
    <h2>Todos Assigned to <%= @assignee.name %></h2>
    <% if @todos.any? %>
      <ul>
        <% @todos.each do |todo| %>
          <li><%= link_to todo.title, todo_path(todo) %> - <%= todo.completed? ? 'Completed' : 'Pending' %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No todos assigned to this assignee.</p>
    <% end %>
  </div>
  <div class="flex gap-2">
    <%= link_to 'Edit Assignee', edit_assignee_path(@assignee), class: 'btn btn-warning' %>
    <%= link_to 'Back to Assignees', assignees_path, class: 'btn btn-secondary' %>
  </div>
</section>