<h1><%= @assignee ? "#{@assignee.name}'s Todos" : "All Todos" %></h1>
<% if @assignee %>
  <%= link_to 'Back to Assignees', assignees_path, class: 'btn mb-4' %>
<% else %>
  <%= link_to 'New Todo', new_todo_path, class: 'btn mb-4' %>
<% end %>
<% if @todos.any? %>
  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Title</th>
        <th class="px-4 py-2">Completed</th>
        <th class="px-4 py-2">Assignee</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td class="border px-4 py-2"><%= todo.title %></td>
          <td class="border px-4 py-2"><%= todo.completed? ? 'Yes' : 'No' %></td>
          <td class="border px-4 py-2"><%= link_to todo.assignee.name, todo.assignee %></td>
          <td class="border px-4 py-2">
            <%= link_to 'Show', todo, class: 'btn btn-info mr-2' %>
            <%= link_to 'Edit', edit_todo_path(todo), class: 'btn mr-2' %>
            <%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No todos found.</p>
<% end %>
